/* In your personal website directory, create a new file:
touch style.css
Link your new CSS file to the HTML file you made last time.

Give your elements appropriate classnames and apply the following styles:

Turn your header element into a splash page that takes up 100vw and 100vh. (Users should be able to scroll down to see 
the rest of your content.)
All headings should be centered.
Pick two fonts from Google Fonts. Apply one of them to all the heading elements and the other to all non-heading text.
Your name should have a font size of 2em.
The <aside> should be 35vw wide.
The entire page should have a background color of #494949
All text should be #f4c20c.
The text in your footer should be centered.
Challenge: Give your header splash page a background image of your choice.

Commit your changes and then feel free to mess around with any other styles you like! */

header { 
    width: 100vw;
    height: 100 vh;

}
body {
    background-color: #494949;
    color: #f4c20c;
    font-family: 'Oswald', sans-serif;
}

.name {
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
    text-align: center;
}

aside {
    
    width: 35vw;
}
footer {
    text-align: center;
}

